.active{
    color: #b19777;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 10px; */
    padding-right: 150px;
    /* margin-right: 0; */
    /* transition: 0.3s ease; */
    z-index: 99;
  }

  .navbar.fixed{
    /* position: fixed;
    top: 0; */
    /* left: 20px;  */
    /* right: 0;  */
    width: 100%;
    background-color: #272727;
    padding-left: 20px;
    padding-right:150px;
    height: 80px;
    display: flex;
    justify-items: center;
  }

  .logo {
    background-color: #272727;
    float: left;
    padding: 30px 50px;
    margin: 0;
  }

  .logo.logoForFixed{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 80px;
  }

  .name.fixed{
    visibility: hidden;
  }

  .animate__animated.animate__fadeInDown{
    --animate-duration: 0.3s;
  }

